
//
// VARIABLES
//

// Brands
$twitter: #2FC2EF;
$facebook: #3B5998;
$youtube: #BC2020;
$tumblr: #354F6B;
$instagram: #405DE6;
$pinterest: #C70428;
$googleplus: #D84239;
$flickr: #0D63E2;
$github: #24292E;
$keybase: #FF6F21;
$reddit: #5E96D1;
$stackoverflow: #FD8A00;
$vimeo: #51AACD;
$rss: #EA7B25;

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ddd;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}